* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #fdf0d5;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #003049;
    color: #fdf0d5;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    color: #fdf0d5;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: #fdf0d5;
}

h1 {
    font-size: 2rem;
}

h2 {
    color: #c1121f;
    font-size: 2rem;
}

.section {
    color: #003049;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 1rem;
}

.img-p img, .img-ul img {
    max-width: 60%;
    height: 25rem;
}

.img-p img {
    border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;                        
}

.img-p img:hover {
    box-shadow: 9px 7px 21px 0px rgba(193,18,31,0.75);
    -webkit-box-shadow: 9px 7px 21px 0px rgba(193,18,31,0.75);
    -moz-box-shadow: 9px 7px 21px 0px rgba(193,18,31,0.75);
    cursor: pointer;
}

.img-p p, .img-ul ul {
    max-width: 40%;
    font-size: 2rem;
}

.img-ul li {
    margin: 1rem;
}

footer {
    background-color: #003049;
    color:#fdf0d5;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        color: #c1121f;
        font-size: 1.8rem;
    }

    .img-p img, .img-ul img {
        max-width: 100%;
        height: 20rem;
    }
    
    .img-p p, .img-ul ul {
        max-width: 100%;
        font-size: 1.5rem;
    }    

    .img-ul {
        flex-direction: column-reverse;
    }
}
@media (max-width: 425px) {
    .img-p img, .img-ul img {
        max-width: 100%;
        height: 20rem;
    }
    
    .img-p p, .img-ul ul {
        max-width: 100%;
        font-size: 1.3rem;
    }    

    .img-ul {
        flex-direction: column-reverse;
    }
}

